<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a href="/">Home</a>
  <!-- <a href="/add_student">Add Student</a> -->

  <form align="center" method="post" action="/add_student">
    <h1>Add Student Page</h1>
    <label for="name">Name:</label>
    <input type="text"  name="name" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <br>
    <label for="email">Mobile No:</label>
    <input type="text"  name="MobileNo" required>
    <br>
    <button type="submit">Submit</button>
  </form>
</body>

</html>